<a href="https://colab.research.google.com/github/avs20/SioLabsPython0/blob/main/9_Tuples_and_other_python_stuff.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Tuples
----------

In [9]:
mytuple = 10,20,30,40,50 

print(mytuple)

(10, 20, 30, 40, 50)

In [10]:
type(mytuple)

tuple

In [11]:
mytuple2 = (10,20,30,40,50)

In [12]:
mytuple

(10, 20, 30, 40, 50)

In [13]:
mytuple3 = 10,

In [14]:
print(mytuple3)

(10,)

In [15]:
mytuple2 = (10,20,30,40,50)

print(mytuple[0])
print(mytuple[-1])
print(mytuple[0:2])

10
50
(10, 20)

In [16]:
mytuple[2] = 100

TypeError: ignored

In [17]:
mytuple1 = (10,20,30)
mytuple2 = (10,20,34)

mytuple1 + mytuple2

(10, 20, 30, 10, 20, 34)

In [18]:
mytuple * 3

(10, 20, 30, 40, 50, 10, 20, 30, 40, 50, 10, 20, 30, 40, 50)

In [19]:
mytuple1 = (10,20,30)
mytuple2 = (10,20,34)

print(mytuple1 < mytuple2)

True

In [20]:
mytuple1 = (10,18,30)
mytuple2 = (10,20,100000)

print(mytuple1 < mytuple2)

True

In [21]:
mytuple1 = (10,18,30)
mytuple2 = (10,"ashu",100000)

print(mytuple1 < mytuple2)

TypeError: ignored

In [22]:
import math

def get_values(x, y, theta):
  h = math.sqrt(x**2 + y**2)

  x_axis = h * cos(theta)
  y_axis = h * sin(theta)

  return [x_axis, y_axis]

In [23]:
result = get_values(10,10,450)

NameError: ignored

In [24]:
my_dict = {
    'breakfast':'apple',
    'lunch' : 'mango',
    'snacks' : 'banana',
    'dinner' : 'orange'
}

print(my_dict)

{'breakfast': 'apple', 'lunch': 'mango', 'snacks': 'banana', 'dinner': 'orange'}

In [25]:
print(my_dict.keys())

dict_keys(['breakfast', 'lunch', 'snacks', 'dinner'])

In [26]:
my_dict.items()

dict_items([('breakfast', 'apple'), ('lunch', 'mango'), ('snacks', 'banana'), ('dinner', 'orange')])

In [27]:
for key in my_dict:
  print(key, ':', my_dict[key])

breakfast : apple
lunch : mango
snacks : banana
dinner : orange

In [28]:
for key, value in my_dict.items():
  print(key, ':',value)

breakfast : apple
lunch : mango
snacks : banana
dinner : orange

WhiteSpace Characters in python 
-------

In [29]:
print('I love python')

I love python

In [30]:
print('I love \t python')

I love 	 python

In [31]:
print(' I love python\n I love c++')

 I love python
 I love c++

In [32]:
print(' I love python\r\n I love c++')

 I love python
 I love c++

In [38]:
mystr = " I love Python      "
mystr.strip()

'I love Python'

In [41]:
mystr = "   vasu singh     "

mystr.strip()

'vasu singh'

In [43]:
mystr = "vasu singh"
print(len(mystr))
mystr2 = mystr.rstrip()
print(len(mystr2))

10
10

Combining conditional statements

In [ ]:
a = 75

print(a > 70)

In [ ]:
print(a < 80)

In [ ]:
if a > 70:
  if a < 80 :
    print('True')

In [ ]:
# and 
# or 
# not

and - > combine 2 conditions and return true if both of them are true

OR - combine 2 conditions and return true if at least 1 of them is true. 

not →  return true if condition is false,
        return false if condition is true

In [48]:
a = 75
if a > 70 and a < 80:
  print('True')

True

In [49]:
_12_marks = 80
test_score = 89

if _12_marks > 90 or test_score > 80:
  print('Scholarship granted')

Scholarship granted

In [50]:
if not _12_marks > 90:
  print('markes not above 90')

markes not above 90

Scope in python
----------

In [ ]:
rate = 10

principal = int(input())
time = int(input())


def calc_interest(principal, time):
  interest = principal * rate * time / 100
  return interest

print(calc_interest(principal, time))

In [ ]:
rate = 10

principal = int(input())
time = int(input())


def calc_interest(principal, time):
  interest = principal * rate * time / 100
  return interest

print(calc_interest(principal, time))
print(interest)

range() function

In [ ]:
list(range(5))

In [ ]:
list(range(12,24))

In [ ]:
list(range(12,24, 2))

In [ ]:
list(range(12,24, -1))

In [ ]:
list(range(24,12, -1))

In [ ]:
for i in range(10):
  print('I love python')

In [ ]:
for i in range(len("ashutosh")):
  print("i love python")

In [ ]:
for i in range(len("ashutosh")):
  print(i)