<a href="https://colab.research.google.com/github/avs20/SioLabsPython0/blob/main/3_Booleans_if_else_and_loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Today we will learn about booleans.

int 

float 

string 

Expressions : 

values and operators -→ which evaluates to a value 

2 * 3 

6

If something is bigger or smaller 

If some thing is equal to other thing 

2 things are not same 

yes 

no 

10 > 5  → Yes 


5 > 10 → No



* True 
* False 

a = 10 

a > 5 → True 

5 > a → False

In [4]:
True

True

In [5]:
False

False

In [6]:
true

NameError: ignored

In [ ]:
a = 10 

a > 5

In [ ]:
5 > a

## Comparison Operators 

* `>` 
* `<` 
* `>=`
* `<=`
* `==`  → equality -  if 2 values are same it will return True
* `!=`  → not  equality - if 2 values are not same it will return True

In [ ]:
a = 10 
b = 20

In [ ]:
a < b

In [ ]:
a > b

In [ ]:
c = 10 

a <= c

In [ ]:
a >= c

In [ ]:
a == c

In [ ]:
a != c

In [ ]:
b != c

In [ ]:
a =! c

Conditionals

In [ ]:
principa = input()
rate = ()
time = ()

si = p*r*t / 100;

agar time > 5 ho to rate 7.5 

agar time < 5 ho to rate 10.5 

agar = if 


## if block 

Syntax 
----

```
if condition : 
<leave space> code which we want to runt
<leave space> if condition is true

```

in C/java 

```
if (condition) {
code if conditoin is true 
}
```

In [ ]:
principal = int(input('Enter principal'))
time = int(input('Enter time'))

rate = 10.5
if time > 5 :
    rate = 7.5 

interest = principal * rate * time / 100
print(interest)

In [ ]:
10000*10.5 * 6 /100

In [ ]:
principal = int(input('Enter principal'))
time = int(input('Enter time'))

rate = 10.5
if time > 5 :
    print('You get a discount of 3%')
    rate = 7.5 

interest = principal * rate * time / 100
print(interest)

In [ ]:
principal = int(input('Enter principal'))
time = int(input('Enter time'))

rate = 10.5
if time > 5 :
    print('You get a discount of 3%')
    rate = 7.5 

interest = principal * rate * time / 100
print(interest)

## else 

if condition:
    
else:

In [ ]:
principal = int(input('Enter principal'))
time = int(input('Enter time'))

rate = 10.5
if time > 5 :
    print('You get a discount of 3%')
    rate = 7.5
else : 
  print('You can get a discount of 3% if your time is > 5')

interest = principal * rate * time / 100
print(interest)

In [ ]:
'''
90+ - > A+
80-90 - > A
70-80- B 
60-70 - > C
<60 - > D
'''


marks = 75
# print the grade 

if marks > 90:
  print('A+')

elif marks > 80:
  print('A')

elif marks > 70:
  print('B')

elif marks > 60:
  print('C')

else : 
  print('D')